{% extends "base.html" %}
{% load static %}

{% block title %}Se connecter | ElizAb{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block main %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <div class="login-container">
        <h1>Se connecter</h1>
        {% if form.errors %}
            <p class="error-message">
                Votre nom d'utilisateur et/ou votre mot de passe sont incorrects.<br>
                Veuillez réessayer.
            </p>
        {% else %}
            <p>Veuillez entrer votre nom d'utilisateur et votre mot de passe.</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log-in" class="btn btn-submit"></p>
            </form>
        </div>
        <div class="register-link">
            <p>Vous n'avez pas de compte ? <a href="{% url 'register' %}" class="btn btn-register">Créer un compte</a></p>
            <p><a href="{% url 'password_reset' %}" class="btn btn-reset-password">Mot de passe oublié ?</a></p>
        </div>
    </div>
{% endblock %}
