{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
{% endblock %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block main %}
    <div class="main">
        <h1>Réinitialisation du mot de passe</h1>
        <p>Nous avons envoyé des instructions pour réinitialiser votre mot de passe à l'adresse e-mail que vous avez fournie.</p>
        <p>Si vous ne recevez pas l'e-mail, veuillez vérifier que vous avez entré l'adresse e-mail correctement.</p>
        <p>Vérifiez également votre dossier de spam ou courriers indésirables.</p>
        <p><a href="{% url 'login' %}" class="btn btn-black">Retour à la connexion</a></p>
    </div>
{% endblock %}
