{% autoescape off %}
Bonjour,

Nous avons reçu une demande pour réinitialiser le mot de passe associé à l'adresse e-mail {{ email }}.

Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail en toute sécurité.

Votre nom d'utilisateur, au cas où vous l'auriez oublié : {{ user.get_username }}

Merci,
L'équipe ElizAb
{% endautoescape %}
