{% extends "_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">
{% endblock %}

{% block title %}Réinitialisation du mot de passe complète{% endblock %}

{% block content %}
    <div class="main">
        <h1>Réinitialisation du mot de passe</h1>
        <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
        <p><a href="{% url 'login' %}" class="btn btn-black">Retour à la connexion</a></p>
    </div>
{% endblock %}
