{% extends "base.html" %}
{% load static %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
{% endblock %}

{% block main %}
    <div class="password-reset-container">
        <h1>Mot de passe oublié ?</h1>
        <p>Entrez votre adresse e-mail pour obtenir un nouveau mot de passe.</p>
        <form method="post" class="password-reset-form">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Envoyer l'e-mail" class="btn btn-submit"></p>
        </form>
    </div>
{% endblock %}
