{% extends "base.html" %}
{% load static %}

{% block title %}Mot de passe changé{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-change.css' %}">
{% endblock %}

{% block main %}
    <div class="password-change-container">
        <h1>Mot de passe changé</h1>
        <p>Votre mot de passe a été changé avec succès.</p>
        
        <div class="back-home">
            <a href="{% url 'home' %}" class="btn btn-back-home">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
