:root {
  --primary-color: #4caf50;
  --secondary-color: #f4e285;
  --text-color: #333;
  --background-color: #f9f9f9;
  --highlight-color: #a3ab40;
  --button-color: #000;
  --button-hover: #444;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-content {
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.account {
  text-align: right;
}

nav {
  background-color: var(--secondary-color);
  padding: 0.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: var(--primary-color);
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
}

.dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--highlight-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}




.product-search {
  text-align: center;
  margin: 1.5rem 0;
}

.product-search form {
  display: inline-block;
}

.product-search input[type="text"] {
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-search button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-search button:hover {
  background-color: var(--highlight-color);
}




main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--background-color);
}

.featured-products {
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image-container img {
  border-radius: 8px;
}

.product-card h3 {
  margin: 1rem 0;
}

.price {
  font-weight: bold;
  color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--highlight-color);
}

.btn-black {
  background-color: var(--button-color);
}

.btn-black:hover {
  background-color: var(--button-hover);
}

.about-us {
  background-color: var(--background-color);
  padding: 2rem;
  text-align: center;
}

.about-us h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features li i {
  color: var(--highlight-color);
  margin-right: 1rem;
  font-size: 1.5rem;
}

.engagement {
  font-weight: bold;
  color: var(--highlight-color);
  width: 70%;
  margin: 0 auto;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
