{% load static %}
{% load store_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Alimentation Générale ElizAb</h1>
            <p>Votre boutique en ligne de produits alimentaires et divers de qualité</p>
        </div>
        
        <div class="account">
            {% if request.user.is_authenticated %}
                <p>Bienvenue, {{ request.user.username }}</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-black">Se déconnecter</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-black">Se connecter</a>
                <a href="{% url 'register' %}" class="btn btn-black">Créer un Compte</a>
            {% endif %}
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Acceuil</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Catégories</a>
                <div class="dropdown-content">
                    {%get_categories%}
                </div>
            </li>
            <li><a href="https://maps.app.goo.gl/HZkdDLk63YYQmW117" target="_blank">Find Us</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'asetting' %}">Paramètre de Compte</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Se connecter</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Add search form for products -->
    <section class="product-search">
        <form method="GET" action="">
            <input type="text" name="query" placeholder="Rechercher un produit..." value="{{ request.GET.query|default:'' }}">
            <button type="submit">Rechercher</button>
        </form>
    </section>
    

    <main>
        {%block content%}{%endblock%}
    </main>

    <footer>
        <p>© 2023 Épicerie Générale ElizAb. Tous droits réservés.</p>
        <p><a href="/conditions-generales">Conditions générales</a> | <a href="/politique-confidentialite">Politique de confidentialité</a> | <a href="/contact">Contact</a></p>
    </footer>
</body>
</html>
