{% extends 'base2.html' %}
{% load static %}
{% block title %}
    Commander | {{ product.name }}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/command.css' %}">
{% endblock %}

{% block content %}
<section class="command-page">
    <div class="command-container">
        <!-- Product Information and Image -->
        <div class="command-product-info">
            <h1>Commander {{ product.name }}</h1>
            <p><strong>Prix:</strong> {{ product.price }} FCFA</p>
            <p><strong>Stock Disponible:</strong> {{ product.stock }} unités</p>
            
            <!-- Small Product Image -->
            <div class="command-product-image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            </div>
        </div>

        <!-- Command Form -->
        <div class="command-form">
            <form method="POST" action="{% url 'command' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">Prénom :</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="last_name">Nom :</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="phone_number">Numéro de téléphone :</label>
                    <input type="text" name="phone_number" id="phone_number" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="command_details">Entrez vos informations (Quantité, Adresse, etc.) :</label>
                    <textarea name="command_details" id="command_details" rows="5" class="form-control" required></textarea>
                </div>

                <button type="submit" class="product-btn">Envoyer la commande</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
