{% extends 'base2.html' %}
{% load static %}
{% block title %}
    Commande Confirmée
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/command_done.css' %}">
{% endblock %}
{% block content %}
<div class="command-confirmation">
    <h1>Merci {{request.user}}  pour votre commande !</h1>
    <p>Votre commande a bien été reçue. Nous vous contacterons bientôt pour la livraison.</p>
    <div class="confirmation-actions">
        <a href="{% url 'home' %}" class="btn">Retour à l'accueil</a>
        <a href="{% url 'orders' %}" class="btn">Voir toutes vos commandes</a>
    </div>
</div>
{% endblock %}
