{% extends "_base.html" %}
{% load static %}

{% block title %}Accueil - Boutique ElizAb{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <main class="main-content">
        <section class="hero animate-on-scroll">
            <div class="hero-content">
                <h1>Bienvenue á ElizAb</h1>
                <p>Votre destination pour des produits frais, bio et éthiques</p>
                <br>
                <a href="{% url 'store' %}" class="cta-button">Découvrir nos produits</a>
                <br><br>
                <div class="hero-image-container">
                    <img src="{% static 'images/store.png' %}" alt="Produits frais d'Épicerie Générale ElizAb" class="hero-image">
                </div>
            </div>
            
        </section>

        <section class="featured-categories animate-on-scroll">
            <h2>Nos Catégories Phares</h2>
            <div class="category-grid">
                <div class="category-card">
                    <img src="{% static 'images/alg.jpg' %}" alt="Fruits et Légumes">
                    <h3>Alimentation Générale</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
                <div class="category-card">
                    <img src="{% static 'images/electro.jpg' %}" alt="Fruits et Légumes">
                    <h3>Electronique</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
                <div class="category-card">
                    <img src="{% static 'images/em.jpg' %}" alt="Fruits et Légumes">
                    <h3>Electroménager</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
                <div class="category-card">
                    <img src="{% static 'images/cos.jpg' %}" alt="Fruits et Légumes">
                    <h3>Produits Cosmétiques</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
                <div class="category-card">
                    <img src="{% static 'images/divers.jpeg' %}" alt="Fruits et Légumes">
                    <h3>Divers</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
                <div class="category-card">
                    <img src="{% static 'images/divers.jpeg' %}" alt="Fruits et Légumes">
                    <h3>Electroménager</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
                <div class="category-card">
                    <img src="{% static 'images/cos.jpg' %}" alt="Fruits et Légumes">
                    <h3>Electroménager</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
               <div class="category-card">
                    <img src="{% static 'images/alg.jpg' %}" alt="Fruits et Légumes">
                    <h3>Alimentation Générale</h3>
                    <a href="{%url 'store'%}" class="category-link">Explorer</a>
                </div>
                <!-- Add more category cards here -->
            </div>
        </section>

        <section class="our-commitments animate-on-scroll">
            <h2>Nos Engagements</h2>
            <div class="commitment-grid">
                <div class="commitment-card">
                    <i class="fas fa-leaf"></i>
                    <h3>100% Bio</h3>
                    <p>Tous nos produits sont certifiés biologiques</p>
                </div>
                <div class="commitment-card">
                    <i class="fas fa-handshake"></i>
                    <h3>Commerce Équitable</h3>
                    <p>Nous soutenons les producteurs locaux et le commerce équitable</p>
                </div>
                <div class="commitment-card">
                    <i class="fas fa-recycle"></i>
                    <h3>Zéro Déchet</h3>
                    <p>Nous privilégions les emballages écologiques et réutilisables</p>
                </div>
                <div class="commitment-card">
                    <i class="fas fa-truck"></i>
                    <h3>Livraison Verte</h3>
                    <p>Nos livraisons sont effectuées avec des véhicules électriques</p>
                </div>
            </div>
        </section>



        <section class="featured-products animate-on-scroll">
            <h2>Nos Produits du Moment</h2>
          
            <div class="product-slider">
                {% for product in featured_products %}
                    <div class="product-card">
                        <img src="{{product.image.url}}" alt="Nom du produit">
                        <h3>{{product.name}}</h3>
                        <p class="price">{{product.price}} Fcfa</p>
                        <a href="{% url 'detail_product' product.id %}" class="product-link">Voir le produit</a>
                    </div>
                {% endfor %}
                
                <!-- Add more product cards here -->
            </div>
        </section>

        <section class="testimonials animate-on-scroll">
            <h2>Ce que disent nos clients</h2>
            <div class="testimonial-grid">
                <div class="testimonial-card">
                    <img src="{% static 'images/c1.jpg' %}" alt="Nom du client" class="customer-image">
                    <p class="testimonial-text">"J'adore la qualité des produits et le service exceptionnel d'ElizAb!"</p>
                    <p class="customer-name">- Jane M.</p>
                </div>
                <div class="testimonial-grid">
                    <div class="testimonial-card">
                        <img src="{% static 'images/c2.jpg' %}" alt="Nom du client" class="customer-image">
                        <p class="testimonial-text">"ElizAb m'a permis de découvrir des produits bio incroyables! La livraison est rapide et fiable!"</p>
                        <p class="customer-name">- Marie D.</p>
                    </div>
                    <div class="testimonial-grid">
                        <div class="testimonial-card">
                            <img src="{% static 'images/c3.jpg' %}" alt="Nom du client" class="customer-image">
                            <p class="testimonial-text">"Les produits diversifiés et l'excellent service client font d'ElizAb notre boutique préférée!"</p>
                            <p class="customer-name">- Michael j.</p>
                    </div>
                    
                    
                </div>
               
                <!-- Add more testimonial cards here -->
            </div>
        </section>

        <section class="cta-section animate-on-scroll">
            <h2>Prêt à découvrir nos produits ?</h2>
            <p>Rejoignez-nous pour une expérience d'achat unique et éco-responsable</p>
            <a href="{% url 'store' %}" class="cta-button">Visiter notre boutique</a>
        </section>
    </main>
{% endblock %}