{% extends "_base.html" %}
{% load static %}

{% block title %}Nos Produits - Boutique ElizAb{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="featured-products">
            {% if products %}
                <div class="product-grid">
                    {% for product in products %}
                        <div class="product-card">
                            <div class="product-image-container">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" height="200">
                            </div>
                            <h3>{{ product.name }}</h3>
                            <p class="price">{{ product.price }} FCFA</p>
                            <a href="{% url 'detail_product' product.id %}" class="btn btn-green">voir produit</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-products">Aucun produit trouvé dans cette catégorie.</p>
            {% endif %}
        </section>
        

        <section class="about-us">
            <h2>À Propos de Nous</h2>
            <p class="engagement">Nous nous engageons à fournir des produits de qualité tout en garantissant la satisfaction de nos clients.</p>
            <ul class="features">
                <li><i class="fas fa-shipping-fast"></i> Livraison rapide et fiable</li>
                <li><i class="fas fa-hand-holding-usd"></i> Prix compétitifs</li>
                <li><i class="fas fa-thumbs-up"></i> Produits de qualité supérieure</li>
            </ul>
        </section>
    </main>
{% endblock %}
